table, td, th{
    border: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
}
tbody:nth-child(odd){
    background: rgb(241, 241, 241)
}

thead{
    background: #CCC
}
tbody tr:hover {
    background: black;
    color: white;
}
tr:nth-child(odd) td {
    background:rgb(241, 241, 241);
    
}